<input type="checkbox" id="nav-toggle" />
<div class="sidebar">
  <div class="sidebar-brand">
    <h1><span class="fab fa-asymmetrik"> </span> <span>ProjectUnity</span></h1>
  </div>

  <div class="sidebar-menu">
    <ul>
      <li>
        <a
          (click)="toggleComponent('Dashboard')"
          [class.active]="currentComponent === 'Dashboard'"
        >
          <span class="fas fa-tachometer-alt"></span>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a
          (click)="toggleComponent('Team')"
          [class.active]="currentComponent === 'Team'"
        >
          <span class="fas fa-users"></span>
          <span>Team Members</span>
        </a>
      </li>
      <li>
        <a
          (click)="toggleComponent('Projects')"
          [class.active]="currentComponent === 'Projects'"
        >
          <span class="fas fa-stream"></span>
          <span>Projects</span>
        </a>
      </li>
      <li>
        <a
          (click)="toggleComponent('Task')"
          [class.active]="currentComponent === 'Task'"
        >
          <span class="fas fa-shopping-cart"></span>
          <span>Task</span>
        </a>
      </li>
      <li>
        <a
          (click)="toggleComponent('Manager')"
          [class.active]="currentComponent === 'Manager'"
        >
          <span class="fas fa-boxes"></span>
          <span>Manager</span>
        </a>
      </li>
      <li>
        <a
          (click)="toggleComponent('Support')"
          [class.active]="currentComponent === 'Support'"
        >
          <span class="fas fa-user-circle"></span>
          <span>Support</span>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="main-content">
  <header>
    <h2>
      <label for="nav-toggle">
        <span class="fas fa-bars"></span>
      </label>
      {{ currentComponent }}
    </h2>

    <div class="search-wrapper">
      <span class="fas fa-search"> </span>
      <input type="search" placeholder="Search..." />
    </div>

    <div class="user-wrapper">
      <img
        src="https://bit.ly/3bvT89p"
        width="40px"
        height="40px"
        alt="profile-img"
      />
      <div class="">
        <h4>{{ currentUser.name }}</h4>
        <small>Employee</small>
      </div>
    </div>
  </header>

  <main>
    <div class="main__cards" *ngIf="currentComponent === 'Dashboard'">
      <div class="cards">
        <div class="card-single">
          <div>
            <h1>50</h1>
            <span>Customers</span>
          </div>
          <div>
            <span class="fas fa-users"></span>
          </div>
        </div>
        <div class="card-single">
          <div>
            <h1>12</h1>
            <span>Projects</span>
          </div>
          <div>
            <span class="fas fa-clipboard-list"></span>
          </div>
        </div>
        <div class="card-single">
          <div>
            <h1>15</h1>
            <span>Orders</span>
          </div>
          <div>
            <span class="fas fa-shopping-cart"></span>
          </div>
        </div>
        <div class="card-single">
          <div>
            <h1>$50K</h1>
            <span>Income</span>
          </div>
          <div>
            <span class="fas fa-wallet"></span>
          </div>
        </div>
      </div>
      <div class="recent-grid">
        <div class="projects"></div>
        <div class="customers">
          <div class="card">
            <div class="card-header">
              <h2>New Customers</h2>
              <button>See all <span class="fas fa-arrow-right"></span></button>
            </div>
            <div class="card-body">
              <div class="customer">
                <div class="info">
                  <img
                    src="https://bit.ly/3bvT89p"
                    height="40px"
                    width="40px"
                    alt="customer"
                  />
                  <div>
                    <h4>Malik Abushabab</h4>
                    <small>CEO</small>
                  </div>
                </div>
                <div class="contact">
                  <span class="fas fa-user-circle"></span>
                  <span class="fas fa-comment"></span>
                  <span class="fas fa-phone-alt"></span>
                </div>
              </div>
              <div class="customer">
                <div class="info">
                  <img
                    src="https://bit.ly/3bvT89p"
                    height="40px"
                    width="40px"
                    alt="customer"
                  />
                  <div>
                    <h4>Malik Abushabab</h4>
                    <small>CEO</small>
                  </div>
                </div>
                <div class="contact">
                  <span class="fas fa-user-circle"></span>
                  <span class="fas fa-comment"></span>
                  <span class="fas fa-phone-alt"></span>
                </div>
              </div>
              <div class="customer">
                <div class="info">
                  <img
                    src="https://bit.ly/3bvT89p"
                    height="40px"
                    width="40px"
                    alt="customer"
                  />
                  <div>
                    <h4>Malik Abushabab</h4>
                    <small>CEO</small>
                  </div>
                </div>
                <div class="contact">
                  <span class="fas fa-user-circle"></span>
                  <span class="fas fa-comment"></span>
                  <span class="fas fa-phone-alt"></span>
                </div>
              </div>
              <div class="customer">
                <div class="info">
                  <img
                    src="https://bit.ly/3bvT89p"
                    height="40px"
                    width="40px"
                    alt="customer"
                  />
                  <div>
                    <h4>Malik Abushabab</h4>
                    <small>CEO</small>
                  </div>
                </div>
                <div class="contact">
                  <span class="fas fa-user-circle"></span>
                  <span class="fas fa-comment"></span>
                  <span class="fas fa-phone-alt"></span>
                </div>
              </div>
              <div class="customer">
                <div class="info">
                  <img
                    src="https://bit.ly/3bvT89p"
                    height="40px"
                    width="40px"
                    alt="customer"
                  />
                  <div>
                    <h4>Malik Abushabab</h4>
                    <small>CEO</small>
                  </div>
                </div>
                <div class="contact">
                  <span class="fas fa-user-circle"></span>
                  <span class="fas fa-comment"></span>
                  <span class="fas fa-phone-alt"></span>
                </div>
              </div>
              <div class="customer">
                <div class="info">
                  <img
                    src="https://bit.ly/3bvT89p"
                    height="40px"
                    width="40px"
                    alt="customer"
                  />
                  <div>
                    <h4>Malik Abushabab</h4>
                    <small>CEO</small>
                  </div>
                </div>
                <div class="contact">
                  <span class="fas fa-user-circle"></span>
                  <span class="fas fa-comment"></span>
                  <span class="fas fa-phone-alt"></span>
                </div>
              </div>
              <div class="customer">
                <div class="info">
                  <img
                    src="https://bit.ly/3bvT89p"
                    height="40px"
                    width="40px"
                    alt="customer"
                  />
                  <div>
                    <h4>Malik Abushabab</h4>
                    <small>CEO</small>
                  </div>
                </div>
                <div class="contact">
                  <span class="fas fa-user-circle"></span>
                  <span class="fas fa-comment"></span>
                  <span class="fas fa-phone-alt"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main__cards teams-card" *ngIf="currentComponent === 'Team'">
      <app-team-list></app-team-list>
    </div>
    <div
      class="main__cards projects-card"
      *ngIf="currentComponent === 'Projects'"
    >
      <div *ngFor="let project of projects" class="project-card">
        <div class="project-details">
          <p><strong>Project Name:</strong> {{ project.name }}</p>
          <p><strong>Start Date:</strong> {{ project.startDate }}</p>
          <p><strong>End Date:</strong> {{ project.endDate }}</p>
          <p>
            <strong>Manager Name:</strong> {{ project.projectManager.name }}
          </p>
        </div>
        <button
          class="button2"
          [routerLink]="['/project-dashboard', project.id]"
        >
          View More
        </button>
      </div>
    </div>
    <div class="main__cards" *ngIf="currentComponent === 'Task'">
      <app-task-list></app-task-list>
      <!-- Task content here -->
    </div>
    <div
      class="main__cards employee-managers"
      *ngIf="currentComponent === 'Manager'"
    >
      <div class="customers" *ngFor="let manager of managers">
        <div class="card">
          <div class="card-header">
            <h2>Managers</h2>
            <button>See all <span class="fas fa-arrow-right"></span></button>
          </div>
          <div class="card-body">
            <!-- Add a div for column names -->
            <div class="column-names">
              <div class="info">
                <h4>Name</h4>
                <h4>ID</h4>
                <h4>Username</h4>
                <h4>Role</h4>
                <h4>Email</h4>
              </div>
            </div>

            <!-- Your existing content here -->
            <div class="customer">
              <div class="info">
                <img
                  src="https://bit.ly/3bvT89p"
                  height="40px"
                  width="40px"
                  alt="customer"
                />
                <div>
                  <h4>{{ manager.name }}</h4>
                </div>
              </div>
              <div class="user-details">
                <small>{{ manager.id }}</small>
                <small>{{ manager.username }}</small>
                <small>{{ manager.role }}</small>
                <small>{{ manager.email }}</small>
              </div>
              <div class="contact">
                <span class="fas fa-user-circle"></span>
                <span class="fas fa-comment"></span>
                <span class="fas fa-phone-alt"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main__cards" *ngIf="currentComponent === 'Support'">
      <!-- Support content here -->
    </div>
  </main>
</div>
