/* project-list.component.css */

.project-list {
  font-family: Arial, sans-serif;
  margin-bottom: 40px;
}

h2 {
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

thead {
  background-color: gray;
  color: #fff;
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ccc;
}

tr:hover {
  background-color: #f5f5f5;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.view-project-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-project-button:hover {
  background-color: #0056b3;
}
