<input type="checkbox" id="nav-toggle" />
<div class="sidebar">
  <div class="sidebar-brand">
    <h1><span class="fab fa-asymmetrik"> </span> <span>ProjectUnity</span></h1>
  </div>

  <div class="sidebar-menu">
    <ul>
      <li>
        <a
          (click)="toggleComponent('Dashboard')"
          [class.active]="currentComponent === 'Dashboard'"
        >
          <span class="fas fa-tachometer-alt"></span>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a
          (click)="toggleComponent('Manage')"
          [class.active]="currentComponent === 'Manage'"
        >
          <span class="fas fa-users"></span>
          <span>Create Accounts</span>
        </a>
      </li>
      <li>
        <a
          (click)="toggleComponent('Projects')"
          [class.active]="currentComponent === 'Projects'"
        >
          <span class="fas fa-eye"></span>
          <span>Create Projects</span>
        </a>
      </li>
      <li>
        <a
          (click)="toggleComponent('Manage-Projects')"
          [class.active]="currentComponent === 'Manage-Projects'"
        >
          <span class="fas fa-boxes"></span>
          <span>Manage Projects</span>
        </a>
      </li>
      <li>
        <a
          (click)="toggleComponent('Manage-Accounts')"
          [class.active]="currentComponent === 'Manage-Accounts'"
        >
          <span class="fas fa-shopping-cart"></span>
          <span>Manage Accounts</span>
        </a>
      </li>
      <li>
        <a
          (click)="toggleComponent('View-Accounts')"
          [class.active]="currentComponent === 'View-Accounts'"
        >
          <span class="fas fa-user-circle"></span>
          <span>View Accounts</span>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="main-content">
  <header>
    <h2>
      <label for="nav-toggle">
        <span class="fas fa-bars"></span>
      </label>
      {{ currentComponent }}
    </h2>

    <div class="search-wrapper">
      <span class="fas fa-search"> </span>
      <input type="search" placeholder="Search..." />
    </div>

    <div class="user-wrapper">
      <label class="switch">
        <input
          type="checkbox"
          id="darkModeToggle"
          (change)="toggleDarkMode()"
        />
        <span class="slider round"></span>
      </label>
      <img
        src="https://bit.ly/3bvT89p"
        width="40px"
        height="40px"
        alt="profile-img"
      />
      <div class="">
        <h4>{{ currentUser.name }}</h4>
        <small>Admin</small>
      </div>
    </div>
  </header>

  <main>
    <div class="main__container">
      <div *ngIf="currentComponent === 'Dashboard'" class="dashboard-landing">
        <div class="col-12 col-xl-8 mb-4 mb-xl-0">
          <h3 class="font-weight-bold">Welcome {{ currentUser.name }}</h3>
          <h6 class="font-weight-normal mb-0">
            All systems are running smoothly! You have
            <span class="text-primary">3 unread alerts!</span>
          </h6>
        </div>

        <div class="calendar-card">
          <app-calendar></app-calendar>
        </div>
      </div>

      <div *ngIf="currentComponent === 'Manage'" class="main__cards register">
        <app-registration></app-registration>
      </div>
      <div
        *ngIf="currentComponent === 'Projects'"
        class="main__cards create-project"
      >
        <app-create-project class="app-create-project"></app-create-project>
        <div class="managers-container">
          <div class="managers-list">
            <h2 class="text-2xl font-bold mb-4">Manager's List</h2>
          </div>
          <div class="managers-table">
            <table>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let manager of managers">
                  <td>{{ manager.id }}</td>
                  <td>{{ manager.name }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div
        *ngIf="currentComponent === 'Manage-Projects'"
        class="main__cards manage-project"
      >
        <app-edit-project></app-edit-project>
        <div class="project-list">
          <app-project-list></app-project-list>
          <div class="project-deletion">
            <!-- Use the 'delete-account' class for consistent styling -->
            <h2 class="text-2xl font-bold mb-4">Delete Project</h2>
            <!-- Use the same styling for the heading -->
            <p>Enter the Project ID to delete the project:</p>
            <!-- Update the label text for the project form -->
            <div class="mb-4">
              <input
                type="text"
                id="projectIdInput"
                name="projectIdToDelete"
                [(ngModel)]="projectIdToDelete"
                required
                class="w-full px-4 py-2 rounded-md shadow-sm border-gray-300 focus:border-[#035ec5] focus:ring focus:ring-[#035ec5] focus:ring-opacity-50"
              />
            </div>
            <button
              (click)="deleteProject()"
              class="w-full py-2 px-4 bg-[#ffffff42] hover:border-[#035ec5] hover:border-solid hover:border-[1px] hover:text-[#035ec5] font-bold rounded-md shadow-md"
            >
              Delete Project
            </button>
          </div>
        </div>
      </div>

      <div
        *ngIf="currentComponent === 'Manage-Accounts'"
        class="main__cards manage-accounts"
      >
        <div class="edit-account-cont">
          <div class="edit-account">
            <h2 class="text-2xl font-bold mb-4">Edit Account</h2>
            <form (submit)="updateAccount(editUser)">
              <div class="mb-4">
                <label
                  for="userId"
                  class="block text-sm font-medium text-gray-700"
                  >User ID:</label
                >
                <input
                  type="text"
                  id="userId"
                  name="userId"
                  [(ngModel)]="editUser.id"
                  required
                  class="w-full px-4 py-2 rounded-md shadow-sm border-gray-300 focus:border-[#035ec5] focus:ring focus:ring-[#035ec5] focus:ring-opacity-50"
                />
              </div>
              <div class="mb-4">
                <label
                  for="userName"
                  class="block text-sm font-medium text-gray-700"
                  >User Name:</label
                >
                <input
                  type="text"
                  id="userName"
                  name="userName"
                  [(ngModel)]="editUser.name"
                  required
                  class="w-full px-4 py-2 rounded-md shadow-sm border-gray-300 focus:border-[#035ec5] focus:ring focus:ring-[#035ec5] focus:ring-opacity-50"
                />
              </div>
              <div class="mb-4">
                <label
                  for="userEmail"
                  class="block text-sm font-medium text-gray-700"
                  >User Email:</label
                >
                <input
                  type="email"
                  id="userEmail"
                  name="userEmail"
                  [(ngModel)]="editUser.email"
                  required
                  class="w-full px-4 py-2 rounded-md shadow-sm border-gray-300 focus:border-[#035ec5] focus:ring focus:ring-[#035ec5] focus:ring-opacity-50"
                />
              </div>
              <div class="mb-4">
                <label
                  for="userRole"
                  class="block text-sm font-medium text-gray-700"
                  >User Role:</label
                >
                <input
                  type="text"
                  id="userRole"
                  name="userRole"
                  [(ngModel)]="editUser.role"
                  required
                  class="w-full px-4 py-2 rounded-md shadow-sm border-gray-300 focus:border-[#035ec5] focus:ring focus:ring-[#035ec5] focus:ring-opacity-50"
                />
              </div>
              <button
                type="submit"
                class="w-full py-2 px-4 bg-[#ffffff42] hover:border-[#035ec5] hover:border-solid hover:border-[1px] hover:text-[#035ec5] font-bold rounded-md shadow-md"
              >
                Update Account
              </button>
            </form>
          </div>
          <div class="delete-account">
            <h2 class="text-2xl font-bold mb-4">Delete Account</h2>
            <p>Enter the User ID to delete the account:</p>
            <div class="mb-4">
              <input
                type="text"
                id="userIdToDelete"
                name="userIdToDelete"
                [(ngModel)]="userIdToDelete"
                required
                class="w-full px-4 py-2 rounded-md shadow-sm border-gray-300 focus:border-[#035ec5] focus:ring focus:ring-[#035ec5] focus:ring-opacity-50"
              />
            </div>
            <button
              (click)="deleteAccount()"
              class="w-full py-2 px-4 bg-[#ffffff42] hover:border-[#035ec5] hover:border-solid hover:border-[1px] hover:text-[#035ec5] font-bold rounded-md shadow-md"
            >
              Delete Account
            </button>
          </div>
        </div>
      </div>

      <div
        *ngIf="currentComponent === 'View-Accounts'"
        class="main__cards view-accounts"
      >
        <div class="container">
          <span>Employees</span>
          <input
            id="checkbox"
            name="checkbox"
            type="checkbox"
            [(ngModel)]="showManagers"
            (ngModelChange)="handleCheckboxChange($event)"
          />
          <label class="label" for="checkbox"></label>
          <span>Managers</span>
        </div>

        <div class="customers">
          <div class="card">
            <div class="card-header">
              <h2>New Customers</h2>
              <button>See all <span class="fas fa-arrow-right"></span></button>
            </div>
            <div class="card-body">
              <!-- Add a div for column names -->
              <div class="column-names">
                <div class="info">
                  <h4>Name</h4>
                  <h4>ID</h4>
                  <h4>Username</h4>
                  <h4>Role</h4>
                  <h4>Email</h4>
                </div>
              </div>

              <!-- Your existing content here -->
              <div
                class="customer"
                *ngFor="let user of showManagers ? managers : employees"
              >
                <div class="info">
                  <img
                    src="https://bit.ly/3bvT89p"
                    height="40px"
                    width="40px"
                    alt="customer"
                  />
                  <div>
                    <h4>{{ user.name }}</h4>
                  </div>
                </div>
                <div class="user-details">
                  <small>{{ user.id }}</small>
                  <small>{{ user.username }}</small>
                  <small>{{ user.role }}</small>
                  <small>{{ user.email }}</small>
                </div>
                <div class="contact">
                  <span class="fas fa-user-circle"></span>
                  <span class="fas fa-comment"></span>
                  <span class="fas fa-phone-alt"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="charts"></div>
    </div>
  </main>
</div>
